#--------------------------------------------------------------------
# Example Environment Configuration file
# SALIN FILE INI MENJADI .env LALU SESUAIKAN NILAINYA
# cp .env.example .env
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = bengkel_uts_db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath = null

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

logger.threshold = 9

#--------------------------------------------------------------------
# MIDTRANS API KEYS (Sandbox) - MILESTONE 7
# Daftar di: https://dashboard.sandbox.midtrans.com
#--------------------------------------------------------------------

MIDTRANS_IS_PRODUCTION = false
MIDTRANS_MERCHANT_ID   = "ISI_MERCHANT_ID_KAMU"
MIDTRANS_SERVER_KEY    = "Mid-server-XXXXXXXXXXXXXXXXXXXX"
MIDTRANS_CLIENT_KEY    = "Mid-client-XXXXXXXXXXXXXXXX"

#--------------------------------------------------------------------
# SMTP EMAIL CONFIGURATION - MILESTONE 8
# Gunakan Gmail App Password (bukan password biasa)
# Cara buat App Password: myaccount.google.com > Keamanan > Sandi Aplikasi
#--------------------------------------------------------------------

SMTP_HOST   = "smtp.gmail.com"
SMTP_USER   = "emailkamu@gmail.com"
SMTP_PASS   = "xxxx xxxx xxxx xxxx"
SMTP_PORT   = 587
SMTP_CRYPTO = "tls"
